---
import Row from './Row.astro';
import Column from './Column.astro';
import Button from './Button.astro';
import Navigation from './Navigation.astro';
import SvgImage from './SvgImage.astro';
import color from '../videos/color.mp4';

const { preheading, heading, description, actions } = Astro.props;
---

<div class="wrapper">
	<video class="background" muted autoplay loop playsinline>
		<source src={color} type="video/mp4">
	</video>

	<Row>
		<Column>
			<div class="navigation">
				<Navigation />
			</div>
		</Column>
	</Row>
	<section>
		<Row>
			<Column padding="0 2rem">
				<div class="position-relative">
					<div class="bottom-right">
						<SvgImage image="mark" height="1.5em" />
					</div>
					<h1>
						<small>{preheading}<br></small>
						<big>{heading}</big>
					</h1>
				</div>
			</Column>
		</Row>
		<Row>
			<Column padding="0 2rem" justifyCenter>
				<p>{description}</p>
			</Column>
			<Column padding="1rem 2rem" justifyCenter>
				<div class="actions">
					{actions.map(link => (
						<Button href={link.href} target="_blank">{link.text}</Button>
					))}
				</div>
			</Column>
		</Row>
	</section>
	<Row hideBorderBottom>
		<Column padding="4rem 2rem" />
	</Row>
</div>

<style>
	.wrapper {
		/* Create a positioning scope for the background */
		position: relative;
		/* Text style */
		color: white;
		/* Set a default background color */
		background: var(--color-video);
		z-index: 10;
	}

	.background {
		/* Position the background behind the content and navigation */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		/* Scale the background to cover instead of fitting */
		object-fit: cover;
		filter: brightness(0.95);
	}

	.navigation {
		/* Layout */
		padding: 0rem 2rem;
	}

	h1 {
		margin: 0;
		padding: calc(10vh + 5vw) 0;
		font-size: inherit;
	}
	h1 small {
		font-size: var(--font-scale-xl);
	}
	@media screen and (max-width: 480px) {
		h1 small {
			font-size: var(--font-scale-lg);
		}
	}
	h1 big {
		font-size: var(--font-scale-hero);
	}
	
	.position-relative {
		/* Create a positioning scope */
		position: relative;
	}
	.bottom-right {
		position: absolute;
		bottom: 2rem;
		right: 0rem;
	}

	p {
		/* Text style */
		font-size: var(--font-scale-md);
	}

	.actions > :global(*) {
		margin: 0.5rem;
		display: inline-block;
	}
</style>
