---
import Row from './Row.astro';
import Column from './Column.astro';
import Button from './Button.astro';
import SvgIcon from './SvgIcon.astro';

const { icon, anchor, heading, subheading, github } = Astro.props;
---

<Row>
	<Column>
		<div class="inner">
			<span class="top-right">
				<SvgIcon icon={icon} height="1.5em" />
			</span>
			<h1><a id={anchor}></a>{heading}</h1>
			<h4>{subheading}</h4>
			<slot />
			<p>
				<Button href={github} target="_blank">GitHub &#10140;</Button>
			</p>
		</div>
	</Column>
</Row>

<style>
	.inner {
		padding: 0 2rem;
		margin: 2rem 0;
	}

	.top-right {
		float: right;
	}
</style>
